/* GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #ddd;
  line-height: 1.6;
  width: 100vw;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 20px;
}

p {
  font-size: 18px;
  padding-bottom: 10px;
}


/* LINKS */
a {
  padding: 4px;
  border-radius: 1.5rem;
  color: inherit;
}

a:visited {
  color: inherit;
}

/* SECTIONS */
#section-a,
#section-b,
#section-c {
  padding: 2rem 10%;
  text-align: center;
}

#section-a,
#section-c {
  background: #333;
}

#section-b {
  background: #ddd;
  color: #333;
}

/* SHOWCASE */
#showcase {
  /* background-attachment: fixed;
  background-image: url("http://f4.bcbits.com/img/0022445824_10.jpg");
  background-size: cover;
  background-position: 0% 35%;
  background-repeat: no-repeat;*/
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html::before {
  content: ' ';
  display: block;
  background-image: url("http://f4.bcbits.com/img/0022445824_10.jpg");
  background-position: 0% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10;
}

#logo {
  height: 40vh;
  width: 84vh;
}

/* DISCOGRAPHY SECTION */
#cds {
  display: flex;
  gap: 2rem;
}

img {
  height: 20vw;
  width: 25vw;
  position: center;
}

/* LIVE SECTION */
#section-c {
  display: flex;
  flex-direction: column;

}

#pLiveFuture {
  padding-bottom: 2rem;
}

.colorMuted {
  color: #bbb;
}

#livePast {
  display: grid;
  gap: 20px;
}

/* FOOTER */
footer {
  margin: auto;
  background: #222;
  color: #ddd;
  padding: 2rem 1.5rem;
  text-align: center;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer li {
  font-size: 18px;
}

footer li:nth-child(3) {
  padding-top: 0.5rem;
}

footer img {
  width: 4rem;
  height: 4rem;
}

/* MEDIA QUERIES */
/* giving a little more padding to decrease length of first lines on bigger devices */
@media (min-width:1250px) {
  #section-a {
    padding: 2rem 17%;
  }
}

/* displaying live (past) as two columns for bigger devices */
@media (min-width: 1000px) {
  #livePast {
    grid-template-columns: repeat(2, 1fr);
  }

  /* displaying last (if orphan) child on left (instead of middle) - set to 3 if wanted on right */
  #livePast li:last-child:nth-child(2n - 1) {
    grid-column-end: 2;
  }
}

/* single columns for discography/albums for smaller devices, bigger covers */
@media (max-width: 1000px) {
  #cds {
    flex-direction: column;
  }

  img {
    height: 60vw;
    width: 75vw;
  }

  html::before {
    background-position: center;
  }
}

/* smaller footer for smaller devices (preventing 3-liners) */
@media (max-width: 680px) {
  footer li {
    font-size: 16px;
  }
}

/* enabling hover effects on links for bigger than mobile devices*/
@media (min-width:480px) {
  .btn-light:hover {
    background: #444;
    text-decoration: none;
  }

  .btn-dark:hover {
    background: #ccc;
    text-decoration: none;
  }
}

/* mobile settings*/
@media(max-width:480px) {

  /* smaller bandcamp logo, display footer as grid with 2 rows and columns */
  footer img {
    width: 60px;
    height: 60px;
  }

  footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  footer li:nth-child(3) {
    padding-top: 1rem;
  }

  footer li:nth-child(1),
  footer li:nth-child(2) {
    padding-bottom: 10px;
  }

  /* setting showcase to scroll (instead of fixed) -> FIXED IS NOT WORKING WITH IPHONES!
  #showcase {
    background-attachment: scroll;
  }*/
}

/* taking care of showcase scales a little
@media(max-aspect-ratio:987/718) {
  #showcase {
    background-position: center;
  }
}*/

/* taking care of landscape orientation*/
@media(orientation: landscape) {
  #logo {
    height: calc(40vw/1.5);
    width: calc(84vw/1.5);
  }

  html::before {
    background-position: 20% 35%;
  }

}